{# This is a test template with standard Jinja2 delimiters #}
{% set test_var = "Hello World" %}
test:
  message: {{ test_var }}
  list:
    {% for i in range(3) %}
    - item_{{ i }}
    {% endfor %}
